.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;

  :host ::ng-deep .p-card {
    min-width: 300px;
    
    .field {
      margin-bottom: 1rem;
    }
  }
}