<div class="main-container">
    <app-header [showLogout]="true"></app-header>

    <div class="content">
        <div class="input-section">
            <div class="field">
                <label>X:</label>
                <div class="checkbox-group">
                    <div *ngFor="let x of xValues" class="checkbox-item">
                        <input type="checkbox"
                               [id]="'x_' + x"
                               [value]="x"
                               [checked]="selectedX.includes(x)"
                               (change)="onXChange(x, $event)">
                        <label [for]="'x_' + x">{{x}}</label>
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Y:</label>
                <input type="number"
                       pInputText
                       [(ngModel)]="y"
                       (ngModelChange)="validateInput()"
                       placeholder="Enter Y (-5 to 5)"
                       [min]="-5"
                       [max]="5">
                <small class="error" *ngIf="yError">{{yError}}</small>
            </div>

            <div class="field">
                <label>R:</label>
                <div class="checkbox-group">
                    <div *ngFor="let r of rValues" class="checkbox-item">
                        <input type="checkbox"
                               [id]="'r_' + r"
                               [value]="r"
                               [checked]="selectedR.includes(r)"
                               (change)="onRChange(r, $event)">
                        <label [for]="'r_' + r">{{r}}</label>
                    </div>
                </div>
            </div>

            <button pButton type="button" label="Check Point"
                    (click)="checkPoint()"
                    [disabled]="!selectedX.length || y === null || !selectedR.length"></button>

            <button pButton type="button" label="Clear"
                    (click)="clearPoints()"></button>
        </div>

        <app-point-graph [points]="points"
                         [currentR]="selectedR[0]"
                         (pointClick)="checkPoint($event)"></app-point-graph>

        <p-table [value]="points" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th>X</th>
                    <th>Y</th>
                    <th>R</th>
                    <th>Result</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-point>
                <tr>
                    <td>{{point.x}}</td>
                    <td>{{point.y}}</td>
                    <td>{{point.r}}</td>
                    <td>{{point.result ? 'Hit' : 'Miss'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>