<div class="main-container">
    <app-header [showLogout]="true"></app-header>

    <div class="content">
        <div class="input-section">
            <div class="field">
                <label>X coordinate</label>
                <p-multiSelect [options]="xOptions" [(ngModel)]="selectedX"
                               [selectionLimit]="1"
                               optionLabel="label"
                               optionValue="value"
                               placeholder="Select X coordinate"></p-multiSelect>
            </div>

            <div class="field">
                <label>Y coordinate</label>
                <input type="number" pInputText [(ngModel)]="y"
                       placeholder="Enter Y coordinate (-3 to 5)"
                       [min]="-3" [max]="5">
            </div>

            <div class="field">
                <label>R value</label>
                <p-multiSelect [options]="rOptions" [(ngModel)]="selectedR"
                               [selectionLimit]="1"
                               optionLabel="label"
                               optionValue="value"
                               placeholder="Select R value"></p-multiSelect>
            </div>
        </div>

        <app-point-graph [points]="points"
                         [currentR]="selectedR[0]"
                         (pointClick)="checkPoint($event)"></app-point-graph>

        <p-table [value]="points" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    <th>X</th>
                    <th>Y</th>
                    <th>R</th>
                    <th>Result</th>
                    <th>Timestamp</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-point>
                <tr>
                    <td>{{point.x}}</td>
                    <td>{{point.y}}</td>
                    <td>{{point.r}}</td>
                    <td>{{point.result ? 'Hit' : 'Miss'}}</td>
                    <td>{{point.timestamp | date:'medium'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>